/* Лоудер для планшетов и смартфонов */

/* .percent {
    display: none;
  } */
  
  .loading {
    display: none;
  }
  
  @media screen and (max-width: 900px) {
  
    .loading {
      display: flex;
      flex-direction: column;
      position: fixed;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #1c1c1c;
      z-index: 100;
    }

    .loading__image {
      width: 120px;
      animation: eye-rotate linear 1s infinite;
    }

    @keyframes eye-rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
    /* .percent {
      display: flex;
      color: #ebebeb;
      font-size: 100px;
      font-family: "RoxboughCF-Regular";
    } */
    
    .hide {
      transition: 1s;
      transform: translateY(-100%);
    }
  }
  