/* Cкролл */

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1c1c1c;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 10px;
    border: 3px solid #1c1c1c;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #535353;
  }