@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roobert"; 
  color: #1c1c1c;
  background-color: #ebebeb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  height: 100%;
  border: 1px solid red;
}

.header {
    padding: 25px 0px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  @media screen and (max-width: 1800px) {
    .header {
      padding: 15px 0px 0;
    }
  } 
  
  @media screen and (max-width: 1125px) {
    .header {
      padding: 14px 0px 0;
    }
  }  
  
  @media screen and (max-width: 600px) {
    .header {
      padding: 15px 0px 0;
    }
  }  
  
  @media screen and (max-width: 400px) {
    .header {
      padding: 18px 0px 0;
    }
  }  
  
  @media screen and (max-width: 330px) {
    .header {
      padding: 21px 0px 0;
    }
  }  
  
  .header__home {
   display: flex;
   align-items: center;
  }
  
  .header__link {
   font-family: "RoxboughCF-Regular";
   text-decoration: none;
   list-style-type: none;   
   color: #1c1c1c;
   font-size: 35px;
  }
  
  @media screen and (max-width: 1800px) {
    .header__link {
      font-size: 35px;
    }
  }   
  
  @media screen and (max-width: 1125px) {
    .header__link {
      font-size: 40px;
    }
  }   
  
  @media screen and (max-width: 600px) {
    .header__link {
      font-size: 30px;
    }
  }   
  
  @media screen and (max-width: 400px) {
    .header__link {
      font-size: 25px;
    }
  }   
  
  @media screen and (max-width: 330px) {
    .header__link {
      font-size: 20px;
    }
  }   
  
  .header__briefcase {
    width: 37px;
    height: 37px;
    padding-left: 7px;
    padding-bottom: 1px;
  }
  
  @media screen and (max-width: 1125px) {
    .header__briefcase {
      width: 50px;
      height: 50px;
      padding-left: 5px;
      padding-bottom: 5px;
    }  
  } 
  
  @media screen and (max-width: 600px) {
    .header__briefcase {
      width: 40px;
      height: 40px;
    }  
  } 
  
  @media screen and (max-width: 400px) {
    .header__briefcase {
      width: 35px;
      height: 35px;
    }  
  } 
  
  @media screen and (max-width: 330px) {
    .header__briefcase {
      width: 30px;
      height: 30px;
      padding-bottom: 4px;
    }  
  } 