@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/loader.css);
@import url(../blocks/button-up.css);
@import url(../blocks/scroll.css);
@import url(../blocks/menu/menu-pc.css);
@import url(../blocks/menu/menu-mobile.css);
@import url(../blocks/header-link.css);
@import url(../blocks/footer-email.css);


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roobert"; 
  color: #1c1c1c;
  background-color: #ebebeb; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  height: 100%;
}

.name {
  padding: 0px 0px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
 
 @media screen and (max-width: 1125px) {
   .name {
     padding: 25px 0px 0px;
     max-width: 890px;
   }
 }   
 
 @media screen and (max-width: 1050px) {
  .name {
    justify-content: space-between;
  }
}   

@media screen and (max-width: 900px) {
  .name {
    justify-content: center;
  }
}   

 @media screen and (max-width: 610px) {
   .name {
     padding: 40px 0px 0px;
   }
 }   

 @media screen and (max-width: 500px) {
  .name {
    margin: 0 5px;
  }
}
 
 .name__title {
  font-size: 110px;
  font-family: "RoxboughCF-Regular";
  margin: 0;
  color: #1c1c1c;
  text-align: center;
  vertical-align: middle;
 }
 
 @media screen and (max-width: 1800px) {
   .name__title {
     font-size: 100px;
   }
 } 
 
 @media screen and (max-width: 1400px) {
   .name__title {
     font-size: 80px;
     text-align: center;
   }
 }  
 
 @media screen and (max-width: 1050px) {
   .name__title {
     font-size: 60px;
   }
 }  

 @media screen and (max-width: 770px) {
  .name__title {
    font-size: 55px;
  }
}  

 @media screen and (max-width: 610px) {
   .name__title {
     font-size: 45px;
   }
 }
 
@media screen and (max-width: 400px) {
   .name__title {
     font-size: 35px;
   }
 }
 
.name__image {
  text-align: center;
  max-width: 296px;
} 

@media screen and (max-width: 1050px) {
  .name__image {
    max-width: 275px;
  }
}

@media screen and (max-width: 770px) {
  .name__image {
    max-width: 227px;
  }
}

@media screen and (max-width: 610px) {
  .name__image {
    max-width: 155px;
  }
}

.name__image-size {
  width: 100%;
}

/* Блок с биографией */

.biography {
  background-color: #1c1c1c;
  color: #e1e1e1;
  width: 100%;
  padding-top: 20px; 
  padding-bottom: 15px; 
  font-family: "CormorantGaramond-Regular";
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .biography {
    padding-top: 15px; 
  }
}  

@media screen and (max-width: 610px) {
  .biography {
    padding-bottom: 10px; 
  }
}  

.biography__info {
  display: grid;
  grid-template-areas: 
  "biography__main-text biography__main-text biography__main-text"
  "biography__image biography__text biography__text";
  gap: 20px;
  max-width: 1000px;
}

@media screen and (max-width: 1050px) {
  .biography__info {
    max-width: 850px;
    gap: 15px;
  }
}  

@media screen and (max-width: 900px) {
  .biography__info {
    max-width: 730px;
  }
}  

@media screen and (max-width: 770px) {
  .biography__info {
    grid-template-areas: 
  "biography__main-text biography__main-text"
  "biography__image biography__text";
  align-items: center;
  gap: 12px;
  max-width: 560px;
  }
}  

@media screen and (max-width: 610px) {
  .biography__info {
    grid-template-areas: 
  "biography__main-text"
  "biography__image"
  "biography__text";
  justify-items: center;
  max-width: 500px;
  gap: 10px;
  margin: 0 15px;
  }
}  

.biography__main-text {
  font-family: "CormorantGaramond-SemiBold";
  grid-area: biography__main-text;
  text-align: center;
  font-size: 50px;
  padding-bottom: 15px;
}

@media screen and (max-width: 1050px) {
  .biography__main-text {
    font-size: 45px;
  }
}  

@media screen and (max-width: 900px) {
  .biography__main-text {
    font-size: 40px;
    padding-bottom: 10px;
  }
}  

@media screen and (max-width: 610px) {
  .biography__main-text {
    font-size: 35px;
    padding-bottom: 5px;
  }
}  

.biography__image {
  grid-area: biography__image;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 10%;
}

@media screen and (max-width: 1050px) {
  .biography__image {
    width: 230px;
    height: 230px;
  }
}  

@media screen and (max-width: 900px) {
  .biography__image {
    width: 200px;
    height: 200px;
  }
}  

@media screen and (max-width: 770px) {
  .biography__image {
    width: 240px;
    height: 240px;
  }
}  

@media screen and (max-width: 610px) {
  .biography__image {
    width: 200px;
    height: 200px;
  }
}  

.biography__image-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.biography__text {
  font-family: "CormorantGaramond-Regular";
  grid-area: biography__text;
  font-size: 25px;
  align-self: center;
  line-height: 30px;
}

@media screen and (max-width: 1050px) {
  .biography__text {
    font-size: 23px;
    line-height: 27px;
  }
}  

@media screen and (max-width: 900px) {
  .biography__text {
    font-size: 20px;
    line-height: 25px;
  }
}  

@media screen and (max-width: 610px) {
  .biography__text {
    font-size: 19px;
  }
}  

.biography__link {
  text-decoration: none;
  color: #c74343;
}

.biography__link:hover {
  opacity: 0.6;
}

/* Блок с печатаньем текста */

.print-text {
  background-color: #1c1c1c;
  color: #e1e1e1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.print-text__gif {
  display: flex;
  align-items: center;
  justify-content: center;
}

.print-text__gif-size {
  width: 70%;
}

@media screen and (max-width: 1050px) {
  .print-text__gif-size {
    width: 60%;
  }
}  

@media screen and (max-width: 900px) {
  .print-text__gif-size {
    width: 50%;
  }
}  

/* БЛОК С ПРОГРЕСС БАРОМ */

.skills {
  width: 100%;
  background-color: #1c1c1c;
  color: #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px; 
}

@media screen and (max-width: 900px) {
  .skills {
    padding-bottom: 20px;
  }
}  

.skills__main-text {
  font-family: "CormorantGaramond-SemiBold";
  text-align: center;
  font-size: 50px;
  padding-bottom: 25px;
  grid-area: text-main;
}

@media screen and (max-width: 1050px) {
  .skills__main-text {
    font-size: 45px;
  }
}  

@media screen and (max-width: 900px) {
  .skills__main-text {
    font-size: 40px;
    padding-bottom: 15px;
  }
}  

@media screen and (max-width: 770px) {
  .skills__main-text {
    padding-bottom: 10px;
  }
}  

@media screen and (max-width: 610px) {
  .skills__main-text {
    font-size: 35px;
    padding-bottom: 8px;
  }
}  

.skill {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
      "text-main text-main"
      "bar1 bar5"
      "bar2 bar6"
      "bar3 bar7"
      "bar4 bar8";
  row-gap: 5px;  
  column-gap: 40px; 
  max-width: 1000px;
  opacity: 0;
  transform: translateY(20px);
}

@media screen and (max-width: 900px) {
  .skill {
    column-gap: 30px; 
  }
}  

@media screen and (max-width: 770px) {
  .skill {
    column-gap: 20px; 
  }
}  

@media screen and (max-width: 610px) {
  .skill {
    grid-template-areas:
      "text-main"
      "bar1"
      "bar2"
      "bar3"
      "bar4"
      "bar5"
      "bar6"
      "bar7"
      "bar8";
  }
} 

.skill.element_show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%); 
}

.bar1 {
  grid-area: bar1;
}

.bar2 {
  grid-area: bar2;
}

.bar3 {
  grid-area: bar3;
}

.bar4 {
  grid-area: bar4;
}

.bar5 {
  grid-area: bar5;
}

.bar6 {
  grid-area: bar6;
}

.bar7 {
  grid-area: bar7;
}

.bar8 {
  grid-area: bar8;
}

.skill__size-container {
  width: 480px;
  height: 73px; 
}

@media screen and (max-width: 1050px) {
  .skill__size-container {
    width: 405px;
  }
}

@media screen and (max-width: 900px) {
  .skill__size-container {
    width: 350px;
  }
}

@media screen and (max-width: 770px) {
  .skill__size-container {
    width: 270px;
  }
}

@media screen and (max-width: 610px) {
  .skill__size-container {
    width: 320px;
    height: 50px;
  }
}

@media screen and (max-width: 350px) {
  .skill__size-container {
    width: 280px;
  }
}

.skill__text {
  font-size: 22px;
  color: #e1e1e1;
  margin-bottom: 14px;
  margin-left: 2px;
  font-family: "CormorantGaramond-SemiBold";
}

@media screen and (max-width: 1050px) {
  .skill__text {
    font-size: 22px;
  }
}

@media screen and (max-width: 900px) {
  .skill__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 610px) {
  .skill__text {
    font-size: 17px;
    margin-bottom: 12px;
  }
}

.skill__progress-bar {
  background: #525252;
  width: 480px;
  height: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 1050px) {
  .skill__progress-bar {
    width: 405px;
  }
}

@media screen and (max-width: 900px) {
  .skill__progress-bar {
    width: 350px;
  }
}

@media screen and (max-width: 770px) {
  .skill__progress-bar {
    width: 270px;
  }
}

@media screen and (max-width: 610px) {
  .skill__progress-bar {
    width: 320px;
  }
} 

@media screen and (max-width: 350px) {
  .skill__progress-bar {
    width: 280px;
  }
} 


.skill__progress-bar div {
  height: 10px;
  border-radius: 5px;
  width: 0%; 
}

.skill__progress-bar div span {
  height: 40px;
  width: 40px;
  font-size: 14px;
  border-radius: 50%;
  background: #222;
  float: right;
  margin-top: -15px;
  margin-right: -20px;
  color: #efeff1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 610px) {
  .skill__progress-bar div span {
    height: 35px;
    width: 35px;
    font-size: 12px;
    margin-top: -12px;
  }
} 

.skill__html {
  background: rgb(255, 188, 63);
  animation: html 5s linear forwards; 
}

.skill__css {
  background: rgb(26, 108, 202);
  animation: css 5s linear forwards;
}

.skill__js {
  background: rgb(255, 255, 52);
  animation: js 5s linear forwards;
}

.skill__ux-ui {
  background: rgb(175, 28, 28);
  animation: ux-ui 5s linear forwards;
}

.skill__figma {
  background: rgb(149, 102, 206);
  animation: figma 5s linear forwards;
}

.skill__photoshop {
  background: rgb(46, 151, 221);
  animation: photoshop 5s linear forwards;
}

.skill__premiere {
  background: rgb(207, 70, 155);
  animation: premiere 5s linear forwards;
}

.skill__ms-office {
  background: rgb(55, 158, 60);
  animation: ms-office 5s linear forwards;
} 

.skill__html span {
  border: 2px solid rgb(255, 188, 63);
}

.skill__css span {
  border: 2px solid rgb(26, 108, 202);
}

.skill__js span {
  border: 2px solid rgb(255, 255, 52);
}

.skill__ux-ui span {
  border: 2px solid rgb(175, 28, 28);
}

.skill__figma span {
  border: 2px solid rgb(149, 102, 206);
}

.skill__photoshop span {
  border: 2px solid rgb(46, 151, 221);
}

.skill__premiere span {
  border: 2px solid rgb(207, 70, 155);
}

.skill__ms-office span {
  border: 2px solid rgb(55, 158, 60);
}

@keyframes html {
  100% {
    width: 70%;
  }
}

@keyframes css {
  100% {
    width: 70%;
  }
}

@keyframes js {
  100% {
    width: 30%;
  }
}

@keyframes ux-ui {
  100% {
    width: 85%;
  }
}

@keyframes figma {
  100% {
    width: 90%;
  }
}

@keyframes photoshop {
  100% {
    width: 65%;
  }
}

@keyframes premiere {
  100% {
    width: 63%;
  }
}

@keyframes ms-office {
  100% {
    width: 95%;
  }
}

/* Hobby */

.hobby {
  background-color: #1c1c1c;
  color: #e1e1e1;
  width: 100%;
  padding-bottom: 50px; 
  font-family: "CormorantGaramond-Regular";
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 770px) {
  .hobby {
    padding-bottom: 40px; 
  }
}

@media screen and (max-width: 610px) {
  .hobby {
    padding-bottom: 30px; 
  }
}

.hobby__info {
  display: grid;
  max-width: 1000px;
  grid-template-areas: 
  "hobby__main-text hobby__main-text"
  "hobby__text itcss";
  column-gap: 4px;
  opacity: 0;
  transform: translateY(20px);
}

@media screen and (max-width: 1050px) {
  .hobby__info {
    max-width: 850px;
  }
}

@media screen and (max-width: 900px) {
  .hobby__info {
    max-width: 730px;
  }
}

@media screen and (max-width: 770px) {
  .hobby__info {
    max-width: 560px;
  }
}

@media screen and (max-width: 610px) {
  .hobby__info {
    grid-template-areas: 
    "hobby__main-text"
    "itcss"
    "hobby__text";
    max-width: 500px;
    margin: 0 15px;
  }
} 

.hobby__info.element_show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%); 
}

.hobby__main-text {
  grid-area: hobby__main-text;
  font-family: "CormorantGaramond-SemiBold";
  font-size: 50px;
  text-align: center;
  font-size: 50px;
  padding-bottom: 30px; 
}

@media screen and (max-width: 1050px) {
  .hobby__main-text {
    font-size: 45px;
  }
}  

@media screen and (max-width: 900px) {
  .hobby__main-text {
    font-size: 40px;
    padding-bottom: 25px; 
  }
}  

@media screen and (max-width: 770px) {
  .hobby__main-text {
    padding-bottom: 20px; 
  }
}  


@media screen and (max-width: 610px) {
  .hobby__main-text {
    font-size: 35px;
    padding-bottom: 12px; 
  }
}  

.hobby__text {
 grid-area: hobby__text;
 font-size: 25px;
 align-self: center;
 max-width: 517px;
 line-height: 30px;
}

@media screen and (max-width: 1050px) {
  .hobby__text {
    font-size: 23px;
    line-height: 27px;
  }
}

@media screen and (max-width: 900px) {
  .hobby__text {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 610px) {
  .hobby__text {
    font-size: 19px;
    padding-top: 40px;
  }
}

.hobby__image {
  width: 480px;
  height: 500px;
  overflow: hidden;
  border-radius: 10%;
}

@media screen and (max-width: 1050px) {
  .hobby__image {
    width: 380px;
    height: 400px;
  }
}

@media screen and (max-width: 900px) {
  .hobby__image {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 770px) {
  .hobby__image {
    width: 270px;
    height: 270px;
  }
}

.hobby__image-size {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  object-fit: cover;
  object-position: center;
}

/* подвал с емайлом */

.footer {
  background-color: #1c1c1c;
  color: #e1e1e1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  min-width: 250px;
}

@media screen and (max-width: 900px) {
  .footer {
    padding-top: 25px;
  }
}

@media screen and (max-width: 770px) {
  .footer {
    padding-top: 20px;
  }
}

@media screen and (max-width: 610px) {
  .footer {
    padding-top: 0px;
  }
}

