@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/loader.css);
@import url(../blocks/scroll.css);
@import url(../blocks/menu/menu-pc.css);
@import url(../blocks/menu/menu-mobile.css);
@import url(../blocks/header-link.css);


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roobert"; 
  color: #1c1c1c;
  background-color: #ebebeb; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  height: 100%;
}

  .name {
    padding: 0px 0px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   }
   
   @media screen and (max-width: 1125px) {
     .name {
       padding: 25px 0px 0px;
       max-width: 890px;
     }
   }   
   
   @media screen and (max-width: 1050px) {
    .name {
      justify-content: space-between;
    }
  }   
  
  @media screen and (max-width: 900px) {
    .name {
      justify-content: center;
    }
  }   
  
   @media screen and (max-width: 610px) {
     .name {
       padding: 40px 0px 0px;
     }
   }   

   @media screen and (max-width: 500px) {
    .name {
      margin: 0 5px;
    }
  }
   
   .name__title {
    font-size: 110px;
    font-family: "RoxboughCF-Regular";
    margin: 0;
    color: #1c1c1c;
    text-align: center;
    vertical-align: middle;
   }
   
   @media screen and (max-width: 1800px) {
     .name__title {
       font-size: 100px;
     }
   } 
   
   @media screen and (max-width: 1400px) {
     .name__title {
       font-size: 80px;
       text-align: center;
     }
   }  
   
   @media screen and (max-width: 1050px) {
     .name__title {
       font-size: 60px;
     }
   }  
  
   @media screen and (max-width: 770px) {
    .name__title {
      font-size: 55px;
    }
  }  
  
   @media screen and (max-width: 610px) {
     .name__title {
       font-size: 45px;
     }
   }
   
  @media screen and (max-width: 400px) {
     .name__title {
       font-size: 35px;
     }
   }
   
  .name__image {
    text-align: center;
    max-width: 296px;
  } 
  
  @media screen and (max-width: 1050px) {
    .name__image {
      max-width: 275px;
    }
  }
  
  @media screen and (max-width: 770px) {
    .name__image {
      max-width: 227px;
    }
  }
  
  @media screen and (max-width: 610px) {
    .name__image {
      max-width: 155px;
    }
  }
  
  .name__image-size {
    width: 100%;
  }
  
  /* Контакты */

  .contact {
    padding-top: 50px;
    padding-bottom: 100px;
    display: grid;
    margin: 0 auto;
    grid-template-areas:
        ". vk ."
        "inst eye tg"
        ". email .";
    justify-content: center;
    align-items: center;
    justify-items: center;
    z-index: 1;
    row-gap: 40px;
    column-gap: 20px;
  }

  @media screen and (max-width: 900px) {
    .contact {
      row-gap: 20px;
      padding-bottom: 50px;
    }
  }  

  @media screen and (max-width: 700px) {
    .contact {
      row-gap: 10px;
      column-gap: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }  

  @media screen and (max-width: 700px) {
    .contact {
      padding-top: 50px;
      padding-bottom: 148px;
    }
  }  

  @media screen and (max-width: 600px) {
    .contact {
      padding-bottom: 118px;
    }
  }  

  @media screen and (max-width: 350px) {
    .contact {
      row-gap: 0px;
      column-gap: 0px;
    }
  }  

  .contact__link {
    transition: opacity .4s ease-in;
  }

  .contact__link:hover {
    opacity: 0.9;
  }

  .contact__image-icon {
    width: 100px;
    transition: all .7s ease;
  }

  @media screen and (max-width: 700px) {
    .contact__image-icon {
      width: 80px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .contact__image-icon {
      width: 65px;
    }
  }  

  @media screen and (max-width: 400px) {
    .contact__image-icon {
      width: 55px;
    }
  }  

  @media screen and (max-width: 350px) {
    .contact__image-icon {
      width: 45px;
    }
  }  

  @media screen and (max-width: 270px) {
    .contact__image-icon {
      width: 40px;
    }
  } 

  .contact__image-icon:hover {
    transform: scale(1.2);
  }

  .contact__icon {
    width: 100px;
    z-index: 4;
  }

  @media screen and (max-width: 700px) {
    .contact__icon {
      width: 80px;
    }
  }  

  @media screen and (max-width: 600px) {
    .contact__icon {
      width: 65px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .contact__icon {
      width: 55px;
    }
  } 

  @media screen and (max-width: 350px) {
    .contact__icon {
      width: 45px;
    }
  } 

  @media screen and (max-width: 270px) {
    .contact__icon {
      width: 40px;
    }
  } 

  .icon1 {
    grid-area: vk;
  }

  .icon2 {
    grid-area: inst;
  }

  .icon3 {
    grid-area: email;
  }

  .icon4 {
    grid-area: tg;
  }

  /* Глаз */

  .contact__eye {
    width: 420px;
    z-index: 2;
    grid-area: eye;
    position: relative;
  }

  @media screen and (max-width: 900px) {
    .contact__eye {
      width: 400px;
    }
  }  

  @media screen and (max-width: 700px) {
    .contact__eye {
      width: 350px;
    }
  }  
  
  @media screen and (max-width: 600px) {
    .contact__eye {
      width: 230px;
    }
  }  

  @media screen and (max-width: 400px) {
    .contact__eye {
      width: 200px;
    }
  }  

  @media screen and (max-width: 350px) {
    .contact__eye {
      width: 170px;
    }
  }  

  @media screen and (max-width: 270px) {
    .contact__eye {
      width: 140px;
    }
  }  

  .contact__eye-size {
    width: 100%;
    z-index: 2;
  }

  @media screen and (max-width: 900px) {
    .contact__eye-size {
      z-index: 10;
    }
  }  

  .box {
    display: flex;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: -1;
    margin-top: 38px;
  }

  .box .eye {
    position: relative;
    width: 190px;
    height: 190px;
    display: block;
    background-color: #ebebeb;
    border-radius: 50%;
  }
  
  .box .eye .pupil {
    width: 90px;
    height: 90px;
    background-image: url(../images/contact/eye.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
  }

  @media screen and (max-width: 900px) {
    
    .box {
     display: none;
    }

    .box .eye {
     display: none;
    }

    .box .eye .pupil {
     display: none;
    }

  } 

/* Подвал */

.footer {
  display: flex;
  background: #1c1c1c;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.footer__author {
  color: #ebebeb;
  font-family: "Roobert"; 
  font-size: 17px;
  word-spacing: 1px;
}

@media screen and (max-width: 600px) {
  .footer__author {
    font-size: 15px;
  }
} 

@media screen and (max-width: 270px) {
  .footer__author {
    font-size: 14px;
  }
} 
