@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/loader.css);
@import url(../blocks/button-up.css);
@import url(../blocks/scroll.css);
@import url(../blocks/header-link.css);
@import url(../blocks/footer-email.css);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roobert"; 
  color: #1c1c1c;
  background-color: #ebebeb; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  height: 100%;
}

.header {
   padding: 25px 0px 25px;
}

@media screen and (max-width: 1800px) {
    .header {
      padding: 15px 0px 15px;
    }
  } 
 
  @media screen and (max-width: 400px) {
    .header {
      padding: 18px 0px 18px;
    }
  }  
  
  @media screen and (max-width: 330px) {
    .header {
      padding: 21px 0px 21px;
    }
  }  



.design {
    background-color: #1c1c1c; 
    color: #ebebeb;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .design__container {
    max-width: 1300px; 
  }

  @media screen and (max-width: 1300px) {
    .design__container {
      margin-left: 10px;
      margin-right: 10px;
    }
  }  
  
  @media screen and (max-width: 500px) {
    .design__container {
      max-width: 350px; 
    }
  }  
  
  @media screen and (max-width: 390px) {
    .design__container {
      max-width: 285px; 
    }
  }  
  
  @media screen and (max-width: 320px) {
    .design__container {
      max-width: 230px; 
    }
  }  

  .design__image {
    width: 100%;
    height: 100%;
  }

  .design__line {
    border-bottom: #e1e1e1 solid 1px;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: start;
  }

  @media screen and (max-width: 1300px) {
    .design__line {
       padding-top: 20px;
       padding-bottom: 15px;
    }
  }  

  @media screen and (max-width: 500px) {
    .design__line {
       padding-top: 15px;
       padding-bottom: 10px; 
    }
  }  

  @media screen and (max-width: 320px) {
    .design__line {
       padding-top: 10px;
       padding-bottom: 5px; 
    }
  }  


  .design__icon {
    padding-right: 10px;
  }

  @media screen and (max-width: 1300px) {
    .design__icon {
      width: 22px;
      padding-right: 8px; 
    }
  }  

  @media screen and (max-width: 500px) {
    .design__icon {
      width: 15px;
      padding-right: 5px; 
    }
  }  

  @media screen and (max-width: 320px) {
    .design__icon {
      width: 12px;
    }
  }  

  
  .design__main-text {
    font-size: 50px;
    color: #e1e1e1; 
    font-family: "CormorantGaramond-SemiBold"; 
    text-decoration: none;
    transition: opacity .4s ease-in;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 1300px) {
    .design__main-text {
      font-size: 40px;
    }
  }  
  
  @media screen and (max-width: 500px) {
    .design__main-text {
      font-size: 30px;
    }
  }  
  
  @media screen and (max-width: 320px) {
    .design__main-text {
      font-size: 25px;
    }
  }  

  .design__main-text:hover {
    color: #e1e1e1;
    opacity: 0.6;
  }

/* подвал */

.footer {
    background-color: #1c1c1c;
    color: #e1e1e1;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 250px;
  }