@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
  width: 100%;
  font-family: "Roobert";
  color: #1c1c1c;
  background-color: #ebebeb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  max-width: 1920px;
  padding: 20px 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
 display: flex;
 align-items: center;
 width: 259px;
}

.header__image {
    width: 60px;
    height: 60px;
}

.header__text {
 font-size: 16px;
 line-height: 110%;
 letter-spacing: -0.01em;
 padding-left: 8px;
 color: #1c1c1c;
}

.header__home {
 display: flex;
 align-items: center;
}

.header__link {
 font-family: "Radiotechnika";
 text-decoration: none;
 list-style-type: none;   
 color: #1c1c1c;
 font-size: 35px;
}

.header__briefcase {
  width: 37px;
  height: 37px;
  padding-left: 7px;
  padding-bottom: 6px;
}

.header__copyright {
 display: flex;
 width: 250px;
 justify-content: end;
 align-items: center;
}

.header__copyright_text{
 font-size: 16px;
 line-height: 110%;
 letter-spacing: -0.01em;
 color: #1c1c1c;
}

.content {

}


.name {
 display: flex;
 justify-content: center;
 max-width: 1920px;
 padding: 30px 20px 0;
 margin: 0 auto;
}

.name__title {
 font-size: 178px;
 margin: 0;
}

.name__title_italic {
  font-family: "RoxboughCF";
}

.info {
  max-width: 1920px;
  padding: 70px 20px 0;
  margin: 0 auto;
 
}

.info__container {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  color: #1c1c1c;
  margin: 0;
}

.info__text {
  padding-right: 470px;
  width: 60px;
}

.info__text:last-child {
  padding-right: 0px;
}

.info__number {
  font-size: 22px;
  color: #7a7a7a;
}