/* Меню для компьтера */

.info {
    max-width: 100%;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 1125px) {
    .info {
      display: none;
    }
  }
  
  .info__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    color: #1c1c1c;
    background-color: #ebebeb;
    margin: 0;
    padding-left: 0;
    height: 150px;
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  
  @media screen and (max-width: 1800px) {
    .info__container {
      justify-content: space-around;
      text-align: center;  
      height: 140px;
    }
  } 
  
  @media screen and (max-width: 1125px) {
    .info__container {
      display: none;
    }
  }  
  
  .info__text {
    width: 110px;
    font-size: 28px;
    font-family: "RoxboughCF-Regular";
  }
  
  @media screen and (max-width: 1800px) {
    .info__text {
      font-size: 25px;
      width: 92px;
    }
  }
  
  .info__number {
    font-size: 30px; 
    color: #7a7a7a;
    display: inline-block;
  }
  
  @media screen and (max-width: 1800px) {
    .info__number {
      font-size: 27px;
      display: flex;
      justify-content: flex-start;
    }
  }
  
  @media screen and (max-width: 1800px) {
    .info__number_left {
      padding-left: 10px;
    }
  }  
  
  .info__link {
    text-decoration: none;
    list-style-type: none;
    color: #1c1c1c;
  }
  
  .info__link:hover {
    color: white;
  }
  
  .info__link::before {
    content: attr(data-text);
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    bottom: 50%;
    transition: all .5s ease;
    font-size: 215px;
    line-height: 130px;
    text-align: center;
    font-family: "Roobert";
    color: #474747;
    background: #1c1c1c;
    overflow: hidden;
    z-index: -10;
  }
  
  @media screen and (max-width: 1800px) {
    .info__link::before {
      font-size: 200px;
      line-height: 120px;
    }
  }
  
  .info__link:hover::before {
    top: 0;
    bottom: 0;
  }
  
  .info__link>SPAN {
    display: block;
    overflow: hidden;
    position: relative;
  }
  
  .info__link>SPAN::before {
    content: attr(data-text);
    display: block;
    position: relative;
    transform: translateY(0%);
    transition: all .5s ease;
    transform-origin: 100% 100%;
  }
  
  .info__link:hover>SPAN::before {
    transform: translateY(-100%) skewY(45deg);
  }
  
  .info__link>SPAN::after {
    content: attr(data-text);
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    transition: all .6s ease;
    transform: skewY(45deg);
    transform-origin: 0 0;
  }
  
  .info__link:hover>SPAN::after {
    top: 0;
    transform: skewY(0);
  }

  /* Чтобы ссылки становились серыми при наведении, работает только в гугл и сафари */

  .info__container:has(.info__link:hover) .info__link:not(:hover) {
    color: #7a7a7a;
  }  